[MASTER]
# ignore=
#     path/to/ignore

[DESIGN]
max-args=6

[MESSAGES CONTROL]
disable=
	protected-access,
	too-few-public-methods,
	too-many-instance-attributes,
	too-many-lines,
	# Allows the usage of comments with "TODO: message"
	fixme,
